# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment
venv/
.env
pyvenv.cfg

# Logs
logs/
*.log

# Data
data/
*.db
*.txt

# OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace


# Other
*.pyc
